<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><b>Admin Panel</b></h5>
            <div class="row">
              <div class="col-6">
                <div class="container">
                  <h1 class="display-4">{{ newUsersCount }} persons</h1>
                  <p class="lead">
                    Registered in a day.
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="container">
                  <h1 class="display-4">{{ onlineUsers }} persons</h1>
                  <p class="lead">
                    are online
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="container">
                  <h1 class="display-4">{{ avarageLoginTime }} s</h1>
                  <p class="lead">
                    takes to login (avaragely)
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="container">
                  <h1 class="display-4">{{ verifiedUsersInADay }} persons</h1>
                  <p class="lead">
                    verified in a day
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="container">
                  <h1 class="display-4">
                    {{ notVerifiedUsersInADay }} persons
                  </h1>
                  <p class="lead">
                    registered at least a day ago but not verified yet
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
